.poppins-medium {
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-style: normal;
}
.heading-placement{
  background-color: rgb(61, 231, 45);
  color: white;
  text-align: center;
  font-size: 12px;
}